@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat&display=swap');

:root {
    --fundo-branco-total: #F3F3F4;
    --cinza-mais-claro:#E7E7E8; 
    --cinza-escuro: #D1D2D4;
    --verde: #00A655;
     --azul: #00469B;
     --vermelho: #E50004;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    place-items: center;
    background-color: #F3F3F4;
    font-family: 'Montserrat', sans-serif;
    color: rgb(92, 92, 92);
}
/* nav */
.navPai{
    background-color: #00469b;
    color: white;
    display: flex;
    justify-content: space-around;
}
.nav__item{
    width: 70%;
    text-align: center;
}
.navbar-brand{
    width: auto;
    height: 50px;
}
.nav__titulo{
    padding-right: 400%;
    font-size: 1em;
}
/* header fim */
/* main inicio */
.Column{
    width: 20%;
    height: 100vh;
    color: rgb(92, 92, 92);
    padding-top: 1em; 
}
.Column__perfil{
    border-bottom: 1px solid  rgb(92, 92, 92);
    padding-top: 2em;
}
.column__img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.Column01{
    padding-top: 2em;
    height: 100%;
    width: 60%;
}

.container_esquerdo, .container_direito{
    background-color: var(--cinza-mais-claro);
    border-radius: 10%;
    margin: 0px 10px 0px 10px;
}

.column01__titulo{
    padding: 10px 0 10px 0;
}

.column01__usuario{
    display: flex;
    justify-content: space-between;
}

.column01__botao{
    background-color: var(--verde);
    border: transparent;
    border-radius: 20%;
    font-size: 10px;
}
.column01__botaoE{
    color: #E50004;
    border-radius: 20%;
    font-size: 10px;
}
.column01__botaoR{
    color: #00469B;
    border-radius: 20%;
    font-size: 10px;
}
.container{
    width: 100%;
}
.notificacoes{ 
    background-color: var(--cinza-escuro);
    
}
.Column02{
    background-color: var(--cinza-mais-claro);
    width: 20%;
    padding-top: 1em;
}
.Column02__icone{
    font-size: 2em;
}
.Column02__PDI{
    display: flex;
}
/*  */
.style_h5 {
    color: #5d5353;
    grid-row: 3 / 3;
    grid-column: 2 /3;
    font-weight: 700;
    font-size: 18   px;
}

.style_h3{
    text-align: center;
}

.style_h2 {
    grid-row: 1 / 1;
    grid-column: 2 / 5;
    font-weight: 600;
    color: #5d5353;
    font-size: 22px;
}

.style_p {
    grid-row: 2 / 2;
    grid-column: 2 / 5;
    font-weight: 500;
    font-size: 15px;
    color: #4d4848;
}

.style_a, .style_a1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #141ff4;
    text-decoration: none;
}

.align-pdi {
    width: 200px;
}

.box-pdi {
    display: grid; 
    grid-template-columns: 22px 35px 70px; 
    grid-template-rows: 25px 20px 25px 20px 8px 40px; 
    width: 200px;
    height: 140px;
    background-color: #cecdcd;
}

.barra-verde {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    grid-column: 3/5;
    grid-row: 4/5;
    background-color: #09c509;
    width: 72px;
    height: 13px;
    border-radius: 5px;
}

.barra-branca {
    grid-column: 4/5;
    grid-row: 4/5;
    background-color: #ffffff;
    width: 67px;
    height: 13px;
    border-radius: 0px 5px 5px 0px;
}

.style_a{
    grid-column: 2/4;
    grid-row: 6/6
}
.style_a1 {
    margin-left: 64px;
    grid-column: 3/4;
    grid-row: 6/6
}

.cor-button {
    background-color: #9796f0;
}



/*  */
/* calendario */
.calendar {
    width: max-content;
    background-color: var(--cinza-mais-claro);
    border-radius: 25px;
    overflow: hidden;
    padding: 30px 50px 0px 50px;
    width: 100%;
    margin-top: 2em;
}
.calendario__semana{
    display: flex;
    justify-content: space-around;
}
.calendar-days{
    display: flex;
    justify-content: space-between;
}
td{
    font-size: 12px;
}
td.text-bg-darkk{
    color: var(--cinza-escuro);
}

.cor-button {
    background-color: #9796f0;
}

.cursor{
    cursor: pointer;
}

